*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#01012e, #240019);
    height: 100vh;
}
.bar{
    background-image: url(/Images/stars1.png);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.bar ul{
    text-align: center;
}
.bar ul:hover li a{
    opacity: 0;
}
.bar ul li{
    margin: 15px 0;
}
.bar ul li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: darkblue;
    padding: 6px 15px;
    border-radius: 20px;
    letter-spacing: 4px;
    transition: 0.5s;
    display: inline-block;
    width: 120px;
    position: relative;
    z-index: 1000;
}
.bar ul li a:hover{
    transform: scale(1.5);
    background-color: darkmagenta;
    opacity: 1;
}
.bar ul li::after{
    content: attr(data-text);
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 50px;
    transition: 0.5s;
}
.bar ul li:hover::after{
    opacity: 0.5;
    letter-spacing: 5px;
}
.bar ul li::before{
    content: "";
    background-color: #e1dcdc;
    position: absolute;
    width: 180px;
    height: 80px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 80px orangered;
    transform: translate(-50%, 70%);
    opacity: 0;
    transition: 0.5s;
}
.bar ul li:hover::before{
    opacity: 0.5;
    width: 80px;
}